# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/smartcampus

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE=smartcampus

# App
APP_HOST=0.0.0.0
APP_PORT=8001
LOG_LEVEL=INFO

# Room ID
ROOM_ID_LENGTH=5
